
.dashboard-container {
    background-color: #ccc;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.message-container {
    text-align: center;
    color: black;
}

.message-container p {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    letter-spacing: 1px;
}

.message-container a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.message-container a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.article {
    padding: 1.5rem;
    width: 350px;
    height: 350px;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: .5s ease-in-out;
}

.article:hover {
    box-shadow: 0 0 10px #444;
}

.article .pending-article {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.article-button {
    margin-top: 2rem;
}

.article-button a,
.article .pending-article a {
    text-decoration: none;
    background-color: #aaa;
    padding: 10px 16px;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 12px;
}

.article .pending-article a {
    margin-left: 1rem;
}

.article-button a:hover,
.article .pending-article a:hover {
    background-color: #444;
    color: white;
}

.article p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.article .title {
    font-size: 1.2rem;
    height: 50px;
    overflow: hidden;
}

.article .date-time {
    font-size: 14px;
}

.article .date-time span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.article .author {
    font-size: 14px;
    border-bottom: 1px solid black;
    height: 20px;
    overflow: hidden;
}

.article .text-content {
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.5rem;
    height: 100px;
    overflow: hidden;
}

.swal2-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.swal2-styled.swal2-confirm {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #444;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

@media (max-width: 1190px){
    
    .article {
        margin-top: 1rem;
    }

}
