
.login-register-form {
    background-color: #ccc;
    max-width: 1250px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-login {
    background-color: #F04D4D;
    text-align: center;
    padding: 1.5rem;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.forms {
    background-color: #ccc;
    border: 1px solid #444;
    width: 450px;
    padding: 2rem;
    border-radius: 8px;
}

.forms h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.forms input {
    background-color: #ccc;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: .5rem;
    margin: 1rem 0;
    border: 1px solid #444;
    border-radius: 5px;   
}

.forms input[type="submit"] {
    cursor: pointer;
}

.forms input[type="submit"]:hover {
    color: white;
    background-color: #444;
}

.remember .checkbox {
    width: 1rem;
    height: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.remember label {
    margin-left: 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.error-message {
    color: red;
    letter-spacing: 1px;
    padding-bottom: 1;
}


@media (max-width: 790px){
    
    .forms {
        width: 370px;
    }

    .forms input {
        font-size: 1rem;
    }

    .remember .checkbox {
        width: .8rem;
        height: .8rem;
    }

    .remember label {
        font-size: 1rem;
    }

    #error-login {
        padding: 1.2rem;
        font-size: 1rem;
    }
}
