* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #aaa;
}


.header-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.header-content {
    background-color: #ccc;
    width: 100%;
}

/* For Title */
/* https://codepen.io/mark-julius-mella/pen/QWdBNyv */
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1.5rem;
    color: #242424;
}

.brand {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
/* For Title */

.navbar {
    max-width: 1250px;
    margin: 0 auto;
    -webkit-position: sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #444;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    display: block;
}

.menu-list li:hover {
    background: #242424;
}

.navbar .button a {
    text-decoration: none;
    color: #ccc;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-right: 2rem;
}

.navbar .button a:hover {
    color: dodgerblue;
    font-weight: bold;
}

/* Logout button */
button {
    background-color: transparent;
    margin-right: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    color: white;
}
/* Logout button */




/* For Icon */
.menu-icon {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    display: none;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}
/* For Icon */



.footer {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #444;
    padding: 1rem;
    color: #ccc;
    font-size: 14px;
    letter-spacing: 1px;
}

.arrow {
    background-color: #444;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 1.5rem;
    bottom: 1.5rem;
    text-align: center;
    line-height: 40px;
}

.arrow a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.arrow a:hover {
    color: dodgerblue;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    padding: 5px;
    border-radius: 10px;
    background-color: #444;
}


@media (max-width: 790px){

    .brand {
        margin-top: 2rem;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }

    .menu-list {
        background-color: #444;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        padding: 3rem 0;
        display: block;
        transition: all .8s ease;
    }

    .menu-list.active {
        left: 0;
    }

    .menu-icon {
        display: block;
    }

    .navbar .button a {
        margin-right: 1rem;
    }

    button {
        margin-right: 1rem;
    }
    
}
