
.dashboard-container {
    background-color: #ccc;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.article {
    padding: 1.5rem;
    width: 350px;
    height: 350px;
    border: 2px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.article-button {
    margin-top: 4rem;
}

.article-button a {
    text-decoration: none;
    background-color: #aaa;
    padding: 10px 16px;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 12px;
}

.article-button a:hover {
    background-color: #444;
    color: white;
}

.article p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.article .title {
    font-size: 1.2rem;
}

.article .date-time {
    font-size: 14px;
}

.article .date-time span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.article .author {
    font-size: 14px;
    border-bottom: 1px solid black;
}

.article .text-content {
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
    height: 100px;
    font-size: 14px;
    line-height: 1.5rem;
    overflow: hidden;
}

.swal2-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.swal2-styled.swal2-confirm {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #444;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

@media (max-width: 1190px){
    .article {
        margin-top: 1rem;
    }
}



