
.main-content {
    background-color: #ccc;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-container {
    display: flex;
    justify-content: space-around;
}

.recent-post {
    width: 75%;
    min-height: 750px;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 1rem;
}

.recent-post h4 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.post p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.post .title {
    font-size: 2.5rem;
}

.post .date-time {
    font-size: 1rem;
}

.post .date-time span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.post .author {
    font-size: 1rem;
    border-bottom: 1px solid black;
}

.post textarea {
    background-color: transparent;
    padding-top: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100vh;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    resize: none;
    outline: none;
    border: none;
}

.post textarea::-webkit-scrollbar {
    height: 0;
    width: 5px;
    overflow: scroll;  
    background-color: transparent;
}

.share-container p {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.share-container a {
    text-decoration: none;
    color: #444;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.share-container a:hover {
    color: dodgerblue;
}

.share-container input {
    width: 1px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
}

.share-container button {
    background-color: transparent;
    border: none;
    color: #444;
    font-size: 1.2rem;
    cursor: pointer;
}

.share-container button:hover {
    color: dodgerblue;
}

.share-container .source {
    right: 1rem;
    color: #aaa;
    font-size: 1rem;
    letter-spacing: 1px;
}

.share-container .source:hover {
    color: #444;
    font-weight: bold;
}

.swal2-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.swal2-styled.swal2-confirm {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #444;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

.topic-content {
    width: 20%;
    height: 700px;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 1rem;
}

.topic-content .searchBar {
    width: 100%;
}

.topic-content .searchBar input {
    background-color: transparent;
    width: 100%;
    color: black;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.topic-content .searchBar input::-webkit-input-placeholder {
    color: black;
}

.topic-content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.all-topics {
    margin-top: 1rem;
    overflow: scroll;
    height: 450px;
    padding: .5rem;
}

.all-topics::-webkit-scrollbar {
    height: 0;
    width: 5px;
    overflow: scroll;  
    background-color: transparent;
}

.topic {
    padding: 10px;
    border-radius: 3px;
    transition: .2s;
}

.topic a {
    text-decoration: none;
    color: black;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.topic:hover {
    background-color: #aaa;
    font-weight: bold;
}

.all-article {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article {
    margin-top: 2rem;
    padding: 1.5rem;
    width: 350px;
    height: 350px;
    border: 2px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.article:hover {
    box-shadow: 0 0 10px #444;
}

.article-button {
    margin-top: 1rem;
}

.article-button a {
    text-decoration: none;
    background-color: #aaa;
    padding: 10px 16px;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
}

.article-button a:hover {
    background-color: #444;
    color: white;
}

.article p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.article .title {
    font-size: 1.2rem;
}

.article .date-time {
    font-size: 14px;
}

.article .date-time span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.article .author {
    font-size: 14px;
    border-bottom: 1px solid black;
}

.article .text-content {
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
    height: 150px;
    font-size: 14px;
    line-height: 1.5rem;
    overflow: hidden;
}

@media (max-width: 990px){

    .recent-post {
        width: 70%;
    }
    
    .post .title {
        font-size: 2rem;
    }

    .topic-content {
        width: 25%;
    }
    
}

@media (max-width: 790px){

    .main-content {
        flex-direction: column;
    }

    .top-container {
        flex-direction: column;
    }

    .recent-post {
        width: 100%;
    }

    .post .title {
        font-size: 1.5rem;
    }

    .topic-content {
        width: 100%;
        margin-top: 1rem;
    }

    .swal2-popup {
        width: 300px;
    }
    
    .swal2-title {
        font-size: 1.2rem;
    }

}