
.login-register-form {
    background-color: #ccc;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    background-color: white;
    box-shadow: 0 0 10px #444;
    width: 450px;
    padding: 2rem;
    border-radius: 8px;
}

.forms h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.forms input {
    background-color: transparent;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: .5rem;
    margin: 1rem 0;
    border: 1px solid #444;
    border-radius: 5px;   
}

.forms input[type="submit"] {
    cursor: pointer;
}

.forms input[type="submit"]:hover {
    color: white;
    background-color: #444;
}

.forms .btn-register {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms .btn-register a {
    text-align: center;
    text-decoration: none;
    padding: 10px 1rem;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 1px solid #444;
    border-radius: 5px;   
}

.forms .btn-register a:hover {
    box-shadow: 0 0 10px #444;
}

.remember .checkbox {
    width: 1rem;
    height: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.remember label {
    margin-left: 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.error-message {
    color: red;
    letter-spacing: 1px;
    padding-bottom: 1;
}

.swal2-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.swal2-styled.swal2-confirm {
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #444;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

@media (max-width: 790px){
    
    .forms {
        width: 370px;
    }

    .forms h2 {
        font-size: 1.2rem;
    }

    .forms input {
        font-size: 1rem;
    }

    .forms .btn-register a {
        font-size: 14px;
        padding: 8px 14px;
    }

    .remember .checkbox {
        width: .8rem;
        height: .8rem;
    }

    .remember label {
        font-size: 1rem;
    }

}
