
.profile-container {
    background-color: #ccc;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-content {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #444;
    margin-bottom: 2rem;
    cursor: pointer;
}

.profile .camera {
    background-color: #444;
    padding: 8px 10px;
    border-radius: 50px;
    margin-top: -3.5rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.information {
    margin-bottom: 5rem;
}

.information p {
    color: #444;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.information p input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-top: 5px;
}

.information .fullname input {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.information .information-button {
    display: none;
    align-items: center;
    justify-content: center;
}

.information .information-button input {
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: .5rem;
    margin: 1rem 2rem;
    border: none;
    border: 1px solid #444;
    border-radius: 3px;  
    cursor: pointer; 
}

.information .information-button input:hover {
    background-color: #444;
    color: white;
}
 
.profile-content button {
    margin: 0;
    padding: 8px 14px;
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #444;
    cursor: pointer;
}

.profile-content button:hover {
    font-size: 1rem;
    color: white;
    background-color: #444;
}

.password-container {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-save-password input {
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: .5rem;
    margin: 1rem 0;
    border: none;
    border: 1px solid #444;
    border-radius: 3px;   
}

.btn-save-password #show-password,
.btn-save-password #hide-password {
    text-align: end;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-save-password #show-password:hover,
.btn-save-password #hide-password:hover {
    font-weight: bold;
    text-decoration: underline;
}

.save-password {
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-password input {
    margin: 1rem 2rem;
    cursor: pointer;
}

.save-password input:hover {
    background-color: #444;
    color: white;
}

/* Delete Account  */
.delete-account {
    margin-top: 20rem;
}

.delete-account button {
    background-color: #EE204E;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 2rem;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-account button:hover {
    color: white;
    box-shadow: 0 0 10px red;
}
/* Delete Account  */

.change-picture-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 10px #444;
    border-radius: 10px;
}

.change-picture-container .exit {
    background-color: #ccc;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.change-picture-container .exit:hover {
    background-color: #444;
    color: white;
}

.btn-change-profile {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.btn-change-profile input[type="file"]{
    display: none;
}

.change-picture-container label {
    background-color: transparent;
    padding: 10px 2rem;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.change-picture-container label:hover {
    background-color: #444;
    color: white;
}

.profile-preview {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.profile-preview img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #444;
}

.btn-save-profile {
    display: none;
    justify-content: center;
    padding: 2rem;
}

.btn-save-profile input {
    width: 50%;
    background-color: transparent;
    padding: 10px 2rem;
    margin: 0 1rem;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save-profile input:hover {
    background-color: #444;
    color: white;
}

.error-message {
    width: 100%;
    color: red;
    letter-spacing: 1px;
}

.swal2-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.swal2-styled.swal2-confirm {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #444;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

.swal2-image {
    border: 2px solid #444;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

@media (max-width: 790px){
    
    .profile-content img {
        width: 150px;
        height: 150px;
    }

    .profile-content .fullname {
        font-size: 1.5rem;
    }
    
    .profile-content p {
        font-size: 1rem;
    }
    
    .change-picture-container {
        width: 350px;
    }

    .btn-change-profile,
    .profile-preview {
        padding: 1rem;
    }

    .profile-preview img {
        width: 150px;
        height: 150px;
    }

    .change-picture-container label,
    .btn-save-profile input {
        font-size: 14px;
        margin: 0 5px;
    }

    .password-container {
        width: 80%;
    }

    .password-container input {
        font-size: 14px;
    }

    .save-password input {
        font-size: 14px;
        margin: 10px;
    }

}